$mainBlue: #D2E8F6;
$mainGray: #444444;
$darkerBlue: #8DB2DE;

@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

body {
    color: $mainGray;
    font-family: 'Segoe UI';
    font-size: 10px;
}


img {
    height: auto;
    width: 100%;
}

.text-center {
    text-align: center;
}

.accessibility {
    size: 0.1rem;
    opacity: 0;
}
