.about {
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    flex-direction: column;

    @media (min-width: 1000px) {
     flex-direction: row;   
    }

    &__text-box {
        padding: 5px;

        @media (min-width: 1000px) {
            padding: 18px;
            width: 30%;
        }
    }

    &__image {
        border-radius: 50%;
        height: auto;
        width: 300px;

        @media (min-width: 1000px) {
            width: 400px;
        }
    }

    &__centered {
       margin: 10px auto;

        @media (min-width: 1000px) {
            margin: auto 20px;
        }

    }

    h2 {
        font-size: 2rem;
        font-weight: 400;
    }


}