.contact {
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.94);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    
    h3 {
        font-size: 2.5rem;
        font-weight: 300;
        margin: 0 auto;
    }

    &__text {
        margin: 0 auto;
        font-size: 1.5rem;
        text-align: center;
        padding: 0;

        @media (min-width: 530px) {
            font-size: 2rem;
        }
    }

    &__icons {
        margin: 0 auto;
    }

    &__icon {
        font-size: 2rem;
        margin: 0.3rem;

        @media (min-width: 530px) {
            font-size: 3rem;
            margin: 1rem;
        }
    }

    a {
        color: $mainGray;
        text-decoration: none;
    }

    a:hover {
        color: $darkerBlue;
    }

    &__close {
        font-size: 2rem;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer; 

        @media (min-width: 530px) {
            font-size: 3rem;
        }

        &:hover {
            color: $darkerBlue;
        }
    }
}