.hero {
    position: relative;
}

.hero__text-content {
    position: absolute;
    top: 37%;
    left: 14%;

    h1 {
        color: #D2E8F6;
        font-weight: 200;
        font-size: 2.7rem;
        text-shadow: 1px 1px 10px #606060;
    }

}