.main-menu {
    position: absolute;
    width: 100%;
    z-index: 2;

    &__btn-container {
        float: right;
    }

    ul {
       list-style: none;
    }
    
    li {
        display: inline-block;
    }

}